@model IEnumerable<PublicationsCore.Facade.Dto.PublicationDto>

@{
    ViewData["Title"] = "Seznam publikací";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        @if (ViewData["Errors"] != null)
        {
            <div>
                <h3 class="text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> @ViewData["Errors"] <span class="glyphicon glyphicon-exclamation-sign"></span></h3>
            </div>
        }
        <p>
            <a class="btn btn-default" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Přidat</a>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Název
                </th>
                <th>
                    Autoři
                </th>
                <th>
                    Vydavatel
                </th>
                <th>
                    Místo vydání
                </th>
                <th>
                    Datum vydání
                </th>
                <th>
                    Edice
                </th>
                <th>
                    Akce
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorPublicationList)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher.Address)
                    </td>
                    <td>
                        @{ string date = $"{item.Date:yyyy}"; }
                        @date
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edition)
                    </td>
                    <td>
                        <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-default btn-sm">Detail</a> |
                        <a asp-action="Citation" asp-route-id="@item.Id" class="btn btn-default btn-sm">Citace</a> |
                        <a asp-action="BibTex" asp-route-id="@item.Id" class="btn btn-default btn-sm">BibTeX citace</a> |
                        <a asp-action="HtmlDescription" asp-route-id="@item.Id" class="btn btn-default btn-sm">HTML popis</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm">Upravit</a> |
                        <form method="post" class="form-inline" style="display:inline!important;">
                            <input asp-for="@item.Id" name="id" hidden="true"/>
                            <button asp-action="Delete" type="submit" class="btn btn-danger btn-sm">Smazat</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>